* {
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}
/* 
body {
    color: #373737;
    font-size: 16px;
    position: relative;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
} */

/* h1 {
    font-size: 36px;
    margin-bottom: 40px;
} */

/* @media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
} */

.btn-primary,
.btn-warning,
.btn-danger {
    color: white;
    font-weight: bold;
}

.input-group .input-group-text i {
    width: 14px;
}

input[type="radio"] {
    position: relative;
    top: 1px;
}



/* .container {
    max-width: 920px;
    padding: 0px 20px;
} */

.page-container {
    max-width: 1350px;
    padding: 30px 24px;
    margin: auto;
}

@media (max-width: 768px) {
    .page-container {
        padding: 64px 24px;
    }
}

/* .white {
    color: #ffffff;
} */



/* @media(max-width:768px) {
    .header .nav-vl {
        display: none;
    }
} */

/* .header .nav-name {
    font-weight: bold;
    margin: auto 16px;
} */

@media(max-width:768px) {
    /* .header .nav-name {
        margin: 8px 0px */
    }
