*{
    box-sizing:border-box
}

.myflex{
    
}

#PGlogo
{
    width : 150px;
    height: 50px;
}

.navit
{
    height : 35x;
    width : 45px;
}

#find
{
    width:40%;
}

@media(min-width : 600px)
{
#find
{
    width:550px;
}
}

.pos
{
    position : absolute;
    top : 250px;
}

h2 > p{
    text-align:center;
}

#two
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.banner-container
{
    background-image: url("../img/bg.png");
    background-attachment: fixed;   /*non-scrollable*/
    background-repeat: no-repeat;  /*no tiling*/
    text-align: center;
    background-size: cover;
    background-position:center;
    box-shadow: inset 0 0 0 2000px #1c1c1c7a;
}

.city-heading
{
    text-align: center;
}

.city
{
    height: 200px;
    width : 200px;

}

.city-img
{
    height: 150px;
    width : 150px;
}


.my-page-container
{
    max-width: 85%;
    padding: 80px 24px;
    margin: auto;
}

@media (max-width:1000px)
{
    .linear
    {
        display: block;
    }
}


.row
{
    justify-content: flex-end;
}

.city{
    margin : 20px 0px;
    box-shadow : 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 10px 16px rgba(0,0,0,0.07), 
                0 10px 16px rgba(0,0,0,0.07);
}
