/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */

.myrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.banner-container {
  background-image: url("../img/bg.png");
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px #1c1c1c7a;
  text-align: center;
  padding: 160px 15px;
}

/* .rounded-circle
{
  border : solid white 0.1px;
  border-radius: 100px;
} */

@media (max-width: 768px) {
  .banner-container {
      padding: 100px 15px;
  }
}

.city-search {
  max-width: 530px;
  margin: auto;
  position: relative;
}

.city-heading {
  text-align: center;
}

.city-card-container {
  text-align: center;
  margin-top: 20px;
}

.city-card {
  background-color: #ffffff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  padding: 15px;
  border-radius: 100px;
}

.city-card:focus,
.city-card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.city-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#ClubName{
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,-1px -1px 0 #fff !important;
   font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#coloring {
  animation: 5s flag ease-in-out infinite;
}

@keyframes flag {
  0% {
      color: #4CC9F0;
  }
  5% {
      color: #4895EF;
  }
  10% {
      color: #4361EE;
  }
 15% {
      color: #3F37C9;
  }
  20% {
      color: #3A0CA3;
  }
  25% {
      color: #480CA8;
  }
  30% {
      color: #560BAD;
  }
  35% {
      color: #7209B7;
  }
  40% {
      color: #B5179E;
  }
  45% {
      color: #F72585;
  }
  50% {
      color: #9D0208;
  } 
  55% {
      color: #D00000;
  }
  60% {
      color: #DC2F02;
  }
  65% {
      color: #E85D04;
  }
  70% {
      color: #F48C06;
  }
  75% {
      color: #FFBA08;
  }
  80% {
      color: #DEFF0A;
  }
  85% {
      color: #A1FF0A;
  }
  90% {
      color: #0AFF99;
  }
  95% {
      color: #00B86B;
  }
  100% {
      color: #C2FBFF;
  }
  
}

.anim{
   animation: trans 5s step-end infinite;
   border: solid white 1px;
   color: #000;
   font-weight: bolder;
}

@keyframes trans {

  0%{
    background-color: lightgreen;
  }
  
 50%{
  background-color: lightcoral;
}
}

div.field{
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  flex-direction: column;
}

div.butfield{
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

div.actual-detail{
  height : 80%;
  width : 80%;
  background: #fff;
  cursor: pointer;
}

#subBut{
  font-size: 1.3rem; font-weight: bold; width: 40% !important;
}

#clearBut{
  font-size: 1.3rem; font-weight: bold; width: 40% !important;
  margin: 0px 0px 0px 0px;
}

@media (max-width : 875px){
    div.field{
      flex-wrap: wrap;
    }
    /* #subBut{
      flex-basis: 100%;
    } */
}

@media (max-width : 751px){
  div.field{
    flex-wrap: wrap;
  }
  /* #subBut{
    flex-basis: 100%;
  } */
}

@media ( max-width : 685px){
  div.namfield {
    flex-wrap: nowrap;
  }
}

@media(max-width : 592px){
  div.namfield{
    flex-wrap : wrap;
  }
}

/* @media (max-width : 592px){
  div.field{
    flex-wrap: wrap;
  }
} */

/* h4 > p{
  text-indent: 5rem;
} */

.obj{
  padding : 10px 10px;
  background-color: #fff;
  border: #4CC9F0 groove 20px;
  box-shadow: 0 8px 20px 0 rgba(56, 40, 40, 0.28), 0 8px 20px 0 rgba(56, 0, 0, 0.25);

}

div.field > label.label{

  color : #fff;
  font-size: 1.4rem !important; 
  /* flex-basis: vw; */
  text-align: left;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,-2px -2px 0 #000 !important;

}

.shad{
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,-2px -2px 0 #000 !important;
  font-size: 1.3rem;
  font-weight: bold;
}

div.field > div.control{
  color : #000;
  font-size: 1rem;
  width: 100% !important;

}


div.overlay > div.container{
  flex-basis: 100%;
}

/* div.overlay > div.static-details{
  flex-basis: 40%;
  background-color: #3A0CA3;
} */
/* 
#contact-sec{
  display: flex;
  align-items: center;
  justify-content: center;
} */

div.static-details > div{
  text-align: center;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
}


/*My accordion styles start*/
.myaccordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  justify-content: center;
  box-shadow: 0 8px 20px 0 rgba(56, 40, 40, 0.28), 0 8px 20px 0 rgba(0, 0, 0, 0.25);
  height: auto;
    margin-bottom: 70px;
    align-self: center;

}

.myaccordion > div{
  background-color: #fff;
  min-height: 35px;
  width : 100%;
  padding: 10px;
}

.myaccordion div:nth-of-type(odd){
  font-size: 1.2rem; 
  color: #fff;
  background-color: #050505;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* width: 90%; */
}

/* .myaccordion div:nth-of-type(odd):hover{
  color : blueviolet;
} */

.myaccordion div:nth-of-type(even){
  text-align: center;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  visibility: visible;
}


/*My accordion styles end*/

div.property-card1 , div.wrapper div{
  background-color: rgb(12, 57, 131)
}


div.property-card , div.wrapper div{
  background-color: rgb(12, 57, 131)
}

/* div.mentorrow1{
   background-color: #022669; 
} */

#sp1 , #sp2 , #sp3 {
  font-size: 1.3rem !important;
    float : right;
  width: auto;
  cursor: pointer;
  background-color: #fff;
  color: #022669;
  padding: 0px 5px;
  height: 100%;
}

div#desctype3 a{
  text-decoration: underline;
   color: rgb(27, 14, 206);
}

div.myLocation{
  display: flex; 
  min-height: 504.8px; 
  /* flex-direction: row !important; */
  align-items: flex-end;
  justify-content: space-evenly ;
}

div.mymap{
  /* flex-basis: 40%;
  margin-bottom: 70px; */
  /* width: 80%;  */
  height: 300px ;
  /* margin-bottom: 70px; */
   padding: 0;
  align-self: center;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  justify-content: center;
}

div.G-api{
  flex-basis: 40%;
  margin-bottom: 70px;
  /* width: 80%;  */
  height: 100% ;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 70px; */
   padding: 0;
   text-align: center;
  /* align-items: center;*/
  /* justify-content: space-between; */
}

@media(max-width : 975px){
  div.myLocation{
    flex-wrap: wrap;
    justify-content: center;
  }

  div.myaccordion{
    flex-basis: 80%;
  }

  div.G-api{
    flex-basis: 80%;
  }
}

#ifv{
  flex-basis:60% ; 
  border:groove 20px crimson; 
  background-color: black;   
   box-shadow: 0 8px 20px 0 rgba(56, 40, 40, 0.28), 0 8px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 20px ;
   height : 100%;
}

#video-player{
  margin-bottom: 40px;
  height : 500px ; 
  width : 100% ;
   display: flex;
    justify-content: center; 
    align-items: center;
}

@media(max-width : 1040px)
{
#ifv {
 
  flex-basis:80% ;
}
}

@media(max-width : 620px)
{
#video-player {
  height : 300px ;
  
}

#ifv{
  flex-basis:90% ;
}
}

/* #gmap-anim{
  animation: 1s resizer infinte;
}

@keyframes resizer {
 
  0%
  {
    height : 44px;
    width : 44px;
  }
  100%
  {
    height : 64px;
    width : 64px;
  }
} */