.filter-bar > div {
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    margin-bottom: 16px;
}

.filter-bar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #646870;
    padding: 6px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .filter-bar img {
        display: block;
        margin: 0px auto 4px;
    }
}

.property-card {
    /* background-color: #000; */
    border-radius: 7px;
    /* padding: 15px 0px; */
    /* margin: 0px 20px 0px 20px; */
    /* background-color: #8c919b; */
    width: auto;
    /* flex-basis: ; */
    box-shadow: 0 8px 20px 0 rgba(56, 40, 40, 0.28), 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}

.property-card1 {
    /* background-color: #000; */
    border-radius: 7px;
    /* background-color: #022669; */

    /* padding: 15px 0px; */
    /* margin: 0px 20px 0px 20px; */
  
    box-shadow: 0 8px 20px 0 rgba(56, 40, 40, 0.28), 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}





.property-card1:focus,
.property-card1:hover {
    box-shadow: 0 8px 20px 0 rgba(124, 73, 228, 0.815), 0 8px 20px 0 rgba(16, 5, 65, 0.28);
    /* border: solid 2px black; */
}

.property-card:focus,
.property-card:hover {
    box-shadow: 0 8px 20px 0 rgba(124, 73, 228, 0.815), 0 8px 20px 0 rgba(16, 5, 65, 0.28);
    /* border: solid 2px black; */
}

/* #logorot{
    padding: 0;
    margin: 0;
    transition-duration: 0.2s;
}

#logorot:hover{
    transform: rotateY(360deg);
} */

.image-container {
    text-align: center;
}

@media (max-width: 768px) {
    .image-container {
        padding-bottom: 12px;
    }
}

.image-container img {
    width: 100%;
    max-width: 300px;
}

.star-container i {
    color: #EA322E;
    font-size: 10px;
    margin-right: 6px;
}

.interested-container {
    text-align: center;
}

.interested-container i {
    color: #EA322E;
    font-size: 20px;
    cursor: pointer;
}

.interested-text {
    font-size: 10px;
}

.detail-container {
    padding: 10px;
}

.property-name {
    font-size: 18px;
    font-weight: 600;
    /* height:165px !important;  */
}

.mentorrow{
    display:flex;
    flex-wrap:wrap;
    /* flex-basis: 80%; */
    justify-content: flex-start;
    /* flex-direction: column; */
    
    align-items: flex-start !important;
    margin-right:-15px;
    margin-left:-15px
    }

    .mentorrow1{
        display:flex;
        flex-wrap:wrap;
        flex-basis: 50%;
        /* justify-content: flex-start; */
        flex-direction: column;
        /* align-items: flex-start !important; */
        margin-right:-15px;
        margin-left:-15px
        }

@media(max-width : 500px){
    .wrapper{
        flex-wrap: wrap;
    }

}

.property-address {
    color: #6f6f6f;
    font-size: 18px;
    padding-bottom: 5px;
    color: #fff;
}

.property-gender img {
    width: 40px;
}

.rent-container {
    display: flex;
    align-items: center;
}

.rent {
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.rent-unit {
    color: #6f6f6f;
    font-size: 12px;
}

.button-container .btn {
    font-size: 14px;
    border-radius: 0px;
    width: 140px;
    float: right;
}

/* No Property */
.no-property-container {
    margin: 96px auto 144px;
}

.no-property-container p {
    font-size: 24px;
    text-align: center;
}

/* Filter Modal */
#filter-modal .modal-dialog {
    max-width: 600px;
}

#filter-modal .modal-body h5 {
    color: #777777;
}

#filter-modal .modal-body hr {
    margin: 4px 0px;
}

#filter-modal .modal-body button {
    font-size: 14px;
    width: 100px;
    margin: 16px;
}

#filter-modal .modal-body .btn-active {
    color: #fff;
    background-color: #343a40;
}

#filter-modal .modal-body button i {
    margin-right: 8px;
}

#filter-modal .modal-footer button {
    width: 120px;
}

@media (max-width : 500px){
    .mentorrow1{
      flex-basis: 100% !important;
    }
  }